@use "./mixins" as aboutMeSection;
@import "../../../scss/variables/breakpoints";

.about__me__section {
	padding: 3rem 0;

	&--light__theme {
		@extend .about__me__section;
		@include aboutMeSection.about-me-section("light__theme");
	}

	&--blue__theme {
		@extend .about__me__section;
		@include aboutMeSection.about-me-section("blue__theme");
	}

	&--green__theme {
		@extend .about__me__section;
		@include aboutMeSection.about-me-section("green__theme");
	}

	&--purple__theme {
		@extend .about__me__section;
		@include aboutMeSection.about-me-section("purple__theme");
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		column-gap: 3rem;
		margin-inline: auto;

		@media screen and (max-width: $large-desktop-breakpoint) {
			padding: 0;
			column-gap: 0;
			gap: 3rem;

			width: 95%;
		}

		@media screen and (min-width: 1800px) {
			width: 70%;
		}
	}
}
