@use "./mixins" as aboutMeSection;

.content__info__skills {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 1rem 0;

	li {
		text-align: center;
		padding: 0.5rem 0;
	}

	&--light__theme {
		@extend .content__info__skills;
		@include aboutMeSection.skills("light__theme");
	}

	&--blue__theme {
		@extend .content__info__skills;
		@include aboutMeSection.skills("blue__theme");
	}

	&--green__theme {
		@extend .content__info__skills;
		@include aboutMeSection.skills("green__theme");
	}

	&--purple__theme {
		@extend .content__info__skills;
		@include aboutMeSection.skills("purple__theme");
	}
}
