@import "../../../scss/variables/breakpoints";

.content__social__links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	padding-bottom: 4em;

	@media screen and (max-width: $large-desktop-breakpoint) {
		padding-bottom: 0;
	}

	@media screen and (min-width: 1800px) {
		align-items: center;
	}

	&__image {
		display: block;
		width: 100%;
		object-fit: cover;

		@media screen and (min-width: 1800px) {
			width: 600px;
		}
	}

	h3 {
		padding-top: 2em;
	}

	a {
		letter-spacing: 2px;
		line-height: 2em;
		font-weight: bold;
		margin: 2em 0;
	}
}
