@import "../../../scss/variables/breakpoints";

.content__social__links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
	text-align: center;

	&__image__wrapper {
		position: relative;
		width: 100%;
		height: 350px;

		@media screen and (min-width: $mobile-breakpoint) {
			margin: 1rem;
		}
	}

	&__image {
		object-fit: cover;
	}

	div > h3 {
		margin-bottom: 1rem;
	}

	a {
		letter-spacing: 2px;
		font-weight: 600;
		padding: 0;
	}
}
