@import "../../styles/variables.scss";
@import "../../styles//mixins.scss";

.infoWrapper {
  background-color: $secondaryColor;
  border: 1px solid $borderColor;
  border-radius: 5px 5px 0 0;

  @include boxShadow;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "navWrapper navWrapper"
    "leftColumn rightColumn";

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navWrapper"
      "leftColumn"
      "rightColumn";
  }

  .navWrapper {
    border-radius: 5px 5px 0 0;
    grid-area: navWrapper;
    border-bottom: 1px solid $borderColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $mainColor;
  }
}
