@use "sass:map";

@mixin box__shadow {
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

@mixin scrollbar($themeName) {
	::-webkit-scrollbar {
		width: 10rem;
	}
	// ::-webkit-scrollbar-track {
	//   width: 2rem;
	// }
	// ::-webkit-scrollbar-thumb {
	//   width: 2rem;
	// }
}
