@use "./mixins" as heroSection;
@import "../../../scss/variables/breakpoints";

.preview {
	grid-area: rightColumn;
	display: grid;
	justify-content: center;
	align-content: center;
	padding: 6rem 0;

	@media screen and (min-width: $desktop-breakpoint) {
		justify-content: start;
	}

	&__shadow {
		width: 300px;
		height: 200px;
		padding-left: 1rem;
		padding-top: 1rem;

		@media screen and (min-width: $desktop-breakpoint) {
			padding-left: 1.875rem;
			padding-top: 1.875rem;
		}

		&--light__theme {
			@extend .preview__shadow;
			@include heroSection.preview-shadow("light__theme");
		}
		&--blue__theme {
			@extend .preview__shadow;
			@include heroSection.preview-shadow("blue__theme");
		}
		&--green__theme {
			@extend .preview__shadow;
			@include heroSection.preview-shadow("green__theme");
		}
		&--purple__theme {
			@extend .preview__shadow;
			@include heroSection.preview-shadow("purple__theme");
		}
	}

	&__content {
		position: relative;
		padding: 0.5rem;
		width: 300px;
		height: 200px;
		border: 1.5px solid #17a2b8;

		@media screen and (min-width: $desktop-breakpoint) {
			padding: 1rem;
		}

		&--light__theme {
			@extend .preview__content;
			@include heroSection.preview-content("light__theme");
		}
		&--blue__theme {
			@extend .preview__content;
			@include heroSection.preview-content("blue__theme");
		}
		&--green__theme {
			@extend .preview__content;
			@include heroSection.preview-content("green__theme");
		}
		&--purple__theme {
			@extend .preview__content;
			@include heroSection.preview-content("purple__theme");
		}

		&__corner {
			position: absolute;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			border: 1.5px solid #17a2b8;

			&--top__left {
				@extend .preview__content__corner;
				top: -5px;
				left: -5px;
			}

			&--top__right {
				@extend .preview__content__corner;
				top: -5px;
				right: -5px;
			}

			&--bottom__right {
				@extend .preview__content__corner;
				bottom: -5px;
				right: -5px;
			}

			&--bottom__left {
				@extend .preview__content__corner;
				bottom: -5px;
				left: -5px;
			}
		}

		&__corner {
			&--light__theme {
				@include heroSection.preview-corner("light__theme");
			}
			&--blue__theme {
				@include heroSection.preview-corner("blue__theme");
			}
			&--green__theme {
				@include heroSection.preview-corner("green__theme");
			}
			&--purple__theme {
				@include heroSection.preview-corner("purple__theme");
			}
		}
	}
}
