.content__left {
	grid-area: leftColumn;
	padding: 6rem 0;

	@media screen and (max-width: 800px) {
		padding: 3rem 0;
	}

	&__profile__picture__wrapper {
		position: relative;
		margin-inline: auto;
		margin-bottom: 1.5rem;
		width: 200px;
		height: 200px;
	}

	&__profile__picture {
		display: block;
		object-fit: cover;
	}

	h5 {
		text-align: center;
	}

	&__settings__note {
		font-style: italic;
		text-align: center;
	}
}
