@use "./mixins" as heroSection;
@import "../../../scss/variables/breakpoints";

.hero__section {
	&--light__theme {
		@include heroSection.hero-section("light__theme");
	}

	&--blue__theme {
		@include heroSection.hero-section("blue__theme");
	}

	&--green__theme {
		@include heroSection.hero-section("green__theme");
	}

	&--purple__theme {
		@include heroSection.hero-section("purple__theme");
	}

	&__content {
		width: 100%;
		margin-inline: auto;
		// overflow-x: hidden;

		@media screen and (min-width: $large-desktop-breakpoint) {
			width: 70%;
		}

		&__greeting {
			padding: 1rem;

			@media screen and (min-width: $mobile-breakpoint) {
				padding: 3rem;
			}

			h1 {
				text-align: center;
			}
		}
	}
}
