@use "sass:map";
@import "../../../scss/variables/colors";

@mixin contact-section($themeName) {
	background-color: map.get($secondaryBackgroundColor, $themeName);

	h3 {
		color: map.get($mainText, $themeName);
	}
}

@mixin content-section-form-label($themeName) {
	color: map.get($secondaryText, $themeName);
}

@mixin content-section-form-btn($themeName) {
	background-color: map.get($buttonColor, $themeName);
	color: map.get($buttonTextColorPrimary, $themeName);

	&:hover {
		background-color: map.get($themeDotBorder, $themeName);
		color: map.get($buttonTextColorSecondary, $themeName);
	}
}
