@import "../../styles/variables.scss";
@import "../../styles//mixins.scss";

.carouselWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;

  .chevronLeft,
  .chevronRight {
    width: 300px;
    background-color: black;
    // color: $secondaryColor;
    cursor: pointer;
    border-radius: 50%;
    margin: 1em;

    &:hover {
      @include boxShadow;
    }
  }

  .projectWrapper {
    display: flex;
    padding: 2em;
    // background-color: $secondaryColor;
    // border: 1px solid $borderColor;
    border-radius: 5px;
  }
}
