@import "../../styles/variables.scss";
@import "../../styles//mixins.scss";

.carouselWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 4em;
  width: 100%;

  @media screen and (max-width: $mobileView) {
    flex-direction: column;
  }

  .chevronLeft,
  .chevronRight {
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    margin: 1em;

    &:hover {
      @include boxShadow;
    }
  }

  .chevronLt {
    @include chevron("lightMode");
  }

  .chevronBl {
    @include chevron("blueMode");
  }

  .chevronGn {
    @include chevron("greenMode");
  }

  .chevronPl {
    @include chevron("purpleMode");
  }

  .projectWrapper {
    display: flex;
    padding: 2em;
    border-radius: 5px;
  }

  .projectWrapperLt {
    @include projectWrapper("lightMode");
  }
  .projectWrapperBl {
    @include projectWrapper("blueMode");
  }
  .projectWrapperGn {
    @include projectWrapper("greenMode");
  }
  .projectWrapperPl {
    @include projectWrapper("purpleMode");
  }
}
