@import "../../styles//variables.scss";
@import "../../styles/mixins.scss";

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  .projectMain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h4 {
      text-decoration: underline;
    }

    img {
      width: 450px;
    }
  }

  .projectAbout {
    width: 20vw;
    height: 450px;
    overflow-y: scroll;
    padding: 1.3em;

    &::-webkit-scrollbar {
      width: 8px;
      // background-color: $mainColor;
    }

    .projectDesc,
    .techStack {
      padding-top: 1em;
    }

    .projectDescText,
    .techStackList {
      padding: 1em 0;
      line-height: 1.7em;
    }

    .bPoint {
      list-style: disc;
      padding: 0 1em;
      margin-left: 1em;
      margin-bottom: 1em;
    }
  }

  .projectLt {
    @include scrollbar("lightMode");
  }

  .projectBl {
    @include scrollbar("blueMode");
  }

  .projectGn {
    @include scrollbar("greenMode");
  }

  .projectPl {
    @include scrollbar("purpleMode");
  }
}
