@import "../../styles//variables.scss";
@import "../../styles/mixins.scss";

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  @media screen and (max-width: $mobileView) {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .projectMain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: $mobileView) {
      // height: 350px;
    }

    h4 {
      text-decoration: underline;
    }

    img {
      width: 450px;
      margin: 2em 0;

      @media screen and (max-width: $mobileView) {
        width: 100%;
      }
    }
  }

  .projectAbout {
    width: 20vw;
    height: 450px;
    overflow-y: scroll;
    padding: 1.3em;

    @media screen and (max-width: $mobileView) {
      width: 100%;
      height: 100%;
    }

    &::-webkit-scrollbar {
      width: 8px;
      // background-color: $mainColor;
    }

    .projectDesc,
    .techStack {
      padding-top: 1em;
    }

    .projectDescText,
    .techStackList {
      padding: 1em 0;
      line-height: 1.7em;
    }

    .bPoint {
      list-style: disc;
      padding: 0 1em;
      margin-left: 1em;
      margin-bottom: 1em;
    }
  }

  .projectLt {
    @include scrollbar("lightMode");
  }

  .projectBl {
    @include scrollbar("blueMode");
  }

  .projectGn {
    @include scrollbar("greenMode");
  }

  .projectPl {
    @include scrollbar("purpleMode");
  }
}
