@use "sass:map";

@mixin sectionContact($themeName) {
    background-color: map.get($secondaryColor, $themeName);
  
    h3 {
      color: map.get($mainText, $themeName);
    }
  }
  
  @mixin contact($themeName) {
    background-color: map.get($secondaryColor, $themeName);
  
    input,
    textarea {
      background-color: map.get($secondaryColor, $themeName);
      border: 1px solid map.get($borderColor, $themeName);
    }
  }
  
  @mixin label($themeName) {
    color: map.get($secondaryText, $themeName);
  }
  
  @mixin formBtn($themeName) {
    background-color: map.get($buttonColor, $themeName);
    &:hover {
      background-color: map.get($themeDotBorder, $themeName);
  
      @if $themeName == "lightMode" {
        color: white !important;
      } @else {
        color: black !important;
      }
    }
  }