@use "../../../scss/variables";
@use "./mixins";

.sectionContact {
  display: grid;
  justify-content: center;
  align-items: center;

  h3 {
    text-align: center;
    padding: 2em;
  }
}

.lightMode {
  @include sectionContact("lightMode");
}
.blueMode {
  @include sectionContact("blueMode");
}
.greenMode {
  @include sectionContact("greenMode");
}
.purpleMode {
  @include sectionContact("purpleMode");
}

.mainContainer {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  @media screen and (max-width: $mobileView) {
    width: 95%;
    height: 100%;
    overflow-x: hidden;
  }

  @media screen and (min-width: 1800px) {
    width: 70%;
  }
}
