@use "mixins" as projectsSection;
@import "../../../scss/variables/breakpoints";

.project__light__theme {
	@include projectsSection.project("light__theme");
}

.project__blue__theme {
	@include projectsSection.project("blue__theme");
}

.project__green__theme {
	@include projectsSection.project("green__theme");
}

.project__purple__theme {
	@include projectsSection.project("purple__theme");
}

.project__header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;

	@media screen and (max-width: $large-desktop-breakpoint) {
		padding: 0.5em;
	}

	h4 {
		text-decoration: underline;
		padding: 0;
		@media screen and (max-width: $large-desktop-breakpoint) {
			margin: 0.5em 0;
			padding: 0;
		}
	}

	.project__image {
		display: flex;
		justify-content: center;

		img {
			width: 100%;

			@media screen and (max-width: $large-desktop-breakpoint) {
				width: 100%;
			}
		}
	}
}

.project__details {
	height: 450px;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 2em;

	@media screen and (max-width: $large-desktop-breakpoint) {
		height: auto;
		margin: 1em 0;
		padding: 0 2.5em;
	}
}

.project__details::-webkit-scrollbar {
	width: 8px;
	border-radius: 10px;
}

.project__details::-webkit-scrollbar-track {
	background-color: darkgray;
	border-radius: 10px;
	margin: 3px 0;
}

.project__details::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 10px;
}
