@use "mixins" as projectsSection;
@import "../../../scss/variables/breakpoints";

.projects__section {
	padding: 3em 0;

	&--light__theme {
		@extend .projects__section;
		@include projectsSection.projects-section("light__theme");
	}

	&--blue__theme {
		@extend .projects__section;
		@include projectsSection.projects-section("blue__theme");
	}

	&--green__theme {
		@extend .projects__section;
		@include projectsSection.projects-section("green__theme");
	}

	&--purple__theme {
		@extend .projects__section;
		@include projectsSection.projects-section("purple__theme");
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 90%;
		margin-inline: auto;

		@media screen and (min-width: $large-desktop-breakpoint) {
			width: 70%;
		}

		h3 {
			@media screen and (max-width: $large-desktop-breakpoint) {
				margin: 2rem 0;
			}
		}
	}
}
