@import "../../styles/variables.scss";
@import "../../styles//mixins.scss";

.rightColumn {
  grid-area: rightColumn;
  display: grid;
  align-content: center;
  padding: 50px 0;

  @media screen and (max-width: 800px) {
    justify-content: center;
  }

  #previewShadowLt {
    @include previewShadow("lightMode");
  }

  #previewShadowBl {
    @include previewShadow("blueMode");
  }

  #previewShadowGn {
    @include previewShadow("greenMode");
  }

  #previewShadowPl {
    @include previewShadow("purpleMode");
  }

  #previewLt {
    @include preview("lightMode");
  }

  #previewBl {
    @include preview("blueMode");
  }

  #previewGn {
    @include preview("greenMode");
  }
  #previewPl {
    @include preview("purpleMode");
  }
}
