@import "../../styles/variables.scss";

.socialLinks {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-bottom: 4em;

  #socialImg {
    display: block;
    width: 100%;
    object-fit: cover;
    border: 1px solid $borderColor;
  }

  h3 {
    padding-top: 2em;
  }
}
