@import "../../styles/variables.scss";

.socialLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 4em;

  #socialImg {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  h3 {
    padding-top: 2em;
  }

  a {
    letter-spacing: 2px;
    line-height: 2em;
    font-weight: bold;
    margin: 2em 0;
  }
}
