@use 'sass:map';
@import "../../styles/variables.scss";


.s1 {
  // background-color: map.get($testColor, "blueMode");
  border-bottom: 1px solid $borderColor;

  .greetingWrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
  }
}

.lightMode {
  background-color: map.get($testColor, "lightMode");
}

.blueMode {
  background-color: map.get($testColor, "blueMode");
}
