@import "./variables.scss";
@import "./mixins.scss";

.projectWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projectWrapperLt {
  @include projectWrapper("lightMode");
}
.projectWrapperBl {
  @include projectWrapper("blueMode");
}
.projectWrapperGn {
  @include projectWrapper("greenMode");
}
.projectWrapperPl {
  @include projectWrapper("purpleMode");
}
