@import "./variables.scss";
@import "./mixins.scss";

.projectWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // margin: 0 auto;
  // padding: 5em;

  @media screen and (max-width: $mobileView) {
    // padding: 1em;
    width: 95%;
  }
}

.projectWrapperLt {
  @include projectWrapper("lightMode");
}
.projectWrapperBl {
  @include projectWrapper("blueMode");
}
.projectWrapperGn {
  @include projectWrapper("greenMode");
}
.projectWrapperPl {
  @include projectWrapper("purpleMode");
}
