@import "./mixins.scss";

.dotsWrapper {
  display: flex;
  padding: 10px;
  .browserDot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    @include boxShadow;
  }

  #dot1 {
    background-color: #fc6058;
  }
  #dot2 {
    background-color: #fec02f;
  }
  #dot3 {
    background-color: #2aca3e;
  }
}
