/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Global Styles
@import "variables";

// Global box-sizing
:root {
  box-sizing: border-box;
}

// Global heading font-sizes
h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

// Main text color for headings
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  // color: $mainText;
  padding: 0.5em 0;
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

// Secondary text color
p,
li,
span,
label,
input,
textarea {
  // color: $secondaryText;
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
  line-height: 1.5em;
}

// Global section styles
.s1,
.s2,
.s3,
.s4 {
  overflow: auto;
}

// Global container styles
.main-container {
  width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: $mobileView) {
    width: 95%;
  }
}

// Global link styles
a {
  text-decoration: none;
  color: #17a2b8;
  font-size: 1.5em;
}

// Global unordered list styles
ul {
  list-style: none;
}
