@use "sass:map";
@import "./variables.scss";
@import "./mixins.scss";

.infoLeftColumn {
  grid-area: leftColumn;
  padding: 6em 0;

  @media screen and (max-width: 800px) {
    padding: 3em 0;
  }

  #profilePic {
    display: block;
    margin: 0 auto;

    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  h5 {
    text-align: center;
    line-height: 0;
    padding-top: 1.5em;
  }

  #settingsNote {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin: 1em 0;
  }
}

#themeOptionsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6em;

  .themeDotLt {
    @include themeDot("lightMode");
    @include boxShadow;
  }
  .themeDotBl {
    @include themeDot("blueMode");
    @include boxShadow;
  }
  .themeDotGn {
    @include themeDot("greenMode");
    @include boxShadow;
  }
  .themeDotPl {
    @include themeDot("purpleMode");
    @include boxShadow;
  }

  #lightMode {
    background-color: #fff;
  }

  #blueMode {
    background-color: #192734;
  }

  #greenMode {
    background-color: #78866b;
  }

  #purpleMode {
    background-color: #7e4c74;
  }
}
