@use "sass:map";
@import "./variables.scss";
@import "./mixins.scss";

.mainContent {
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: $mobileView) {
    width: 95%;
    height: 100%;
    overflow-x: hidden;
  }

  @media screen and (min-width: 1800px) {
    width: 70%;
  }
}

.greeting {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.lightMode {
  @include sectionMain("lightMode");
}

.blueMode {
  @include sectionMain("blueMode");
}

.greenMode {
  @include sectionMain("greenMode");
}

.purpleMode {
  @include sectionMain("purpleMode");
}
