@import "./variables.scss";
@import "./mixins.scss";

.lightMode {
  @include sectionAbout("lightMode");
}

.blueMode {
  @include sectionAbout("blueMode");
}

.greenMode {
  @include sectionAbout("greenMode");
}

.purpleMode {
  @include sectionAbout("purpleMode");
}

.mainContainer {
  width: 100%;
  height: auto;
  margin: 0 auto;

  @media screen and (max-width: $mobileView) {
    width: 95%;
    height: 100%;
    padding: 1em 0;
  }

  @media screen and (min-width: 1800px) {
    width: 70%;
  }
}

.aboutWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 50px 0;
  gap: 100px;

  @media screen and (max-width: $mobileView) {
    padding: 0;
    gap: 20px;
  }

  @media screen and (min-width: 1800px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}
