@import "./variables.scss";
@import "./mixins.scss";

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;
  padding: 2em 0;

  li {
    text-align: center;
  }
}

.skillsLt {
  @include skills("lightMode");
}

.skillsBl {
  @include skills("blueMode");
}

.skillsGn {
  @include skills("greenMode");
}

.skillsPl {
  @include skills("purpleMode");
}
